Bin32
Bin64
BinTemp
Code/*.sdf
Code/*.opensdf
Code/*.ncb
Code/*.rc
Code/*.suo
Code/*.vcproj
Code/*.vcxproj
Code/*.user
Code/*.sln
Code/Crysis.ico
Code/Cursor_White.cur
Code/GameDll.vcxproj.filters
Code/ipch
CMakeLists.txt
Game/Levels

